.button {
  padding: 15px 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  font-size: var(--text);
  /* margin: 10px 0px 10px 30px; */
  margin: 10px 0px;
  border-radius: 5px;
}

#sort-media {
  margin: 20px 0px 50px 100px;
}

#trier {
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 5px;
  color: var(--white-color);
}

#trier .option-value {
  background-color: var(--primary-color);
  padding: 15px;
}
