#modal-form {
  display: none;
  background-color: var(--secondary-bg-color);
  margin: 0 auto;
  padding: 35px;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 5px;
}

.form-title {
  font-size: var(--title);
}

#form {
  display: flex;
  flex-direction: column;
}

#form label {
  margin-top: 20px;
  font-size: var(--subtitle);
  margin-bottom: 5px;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 48px;
  font-size: var(--text);
}

.textarea {
  height: 100px;
  font-family: var(--global-font);
}

.button-form {
  width: 30%;
}

.form-header {
  display: flex;
  justify-content: space-between;
}
.close {
  width: 42px;
  height: 42px;
  border: none;
  background: url(/src/public/assets/white-cross.svg) center center / 100% 100% no-repeat transparent;
  position: relative;
  top: 0px;
  right: 20px;
  z-index: 12;
}

@media screen and (min-width: 1100px) {
  #modal-form {
    width: 600px;
    height: auto;
    top: auto;
  }

  #form label {
    font-size: var(--title);
  }

  .form-title {
    font-size: var(--headline);
  }

  #form input {
    height: 70px;
  }

  #form input[type='textarea'] {
    height: 170px;
  }
}
/* test */
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 16px;
  color: var(--black-color);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible='true']::after {
  opacity: 1;
}
.formData[data-error-visible='true'] .text-control {
  border: 2px solid #e54858;
}
