.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__prev,
.lightbox__next {
  border: none;
  background: url(/src/public/assets/arrow.svg) center center / 30px 48px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  margin-top: -14px;
  z-index: 11;
  right: 120px;
}

.lightbox__prev {
  right: auto;
  left: 120px;
  transform: rotate(180deg);
}

.lightbox__close {
  width: 42px;
  height: 42px;
  border: none;
  background: url(/src/public/assets/cross.svg) center center / 100% 100% no-repeat transparent;
  position: fixed;
  top: 70px;
  right: 120px;
  z-index: 12;
}

.lightbox button {
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
  text-indent: -3000px;
}

.lightbox button:hover {
  opacity: 0.6;
}

.lightbox__container img {
  max-width: 100%;
  height: 100vh;
  animation: lightboxIn 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 50px;
}

.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(/src/public/assets/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
