.lightbox {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__prev,
.lightbox__next {
  border: none;
  background: url(/src/public/assets/arrow.svg) center center / 30px 48px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  margin-top: -14px;
  z-index: 11;
  right: 120px;
}

.lightbox__prev {
  right: auto;
  left: 120px;
  transform: rotate(180deg);
}

.lightbox__close {
  width: 42px;
  height: 42px;
  border: none;
  background: url(/src/public/assets/cross.svg) center center / 100% 100% no-repeat transparent;
  position: fixed;
  top: 70px;
  right: 120px;
  z-index: 12;
}

.lightbox button {
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
  text-indent: -5000px;
}

.lightbox button:hover {
  opacity: 0.6;
}

.lightbox__container img,
.lightbox__container__video {
  max-width: 80%;
  object-fit: contain;
  max-height: 80vh;
  animation: lightboxIn 0.5s;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 50px;
  flex-direction: column;
}

.lightbox__container .lightbox__container__media-name {
  font-size: var(--subtitle);
  text-align: left;
  justify-content: left;
  align-items: flex-start;
  width: 62%;
  padding: 10px;
  color: var(--primary-color);
  font-weight: var(--normal);
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
