.header__title__logo {
  width: 150px;
}

.link__redirection {
  display: none;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__tag-nav {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
  align-content: space-between;
  display: flex;
}

.header__title__text {
  font-size: var(--small-subtitle);
  color: var(--primary-color);
  font-weight: var(--normal);
}

@media screen and (min-width: 1100px) {
  .header__title__logo {
    width: 200px;
  }

  header {
    margin: 0 100px 0 100px;
  }

  .header__tag-nav {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    height: auto;
    right: 4%;
    top: 40px;
  }

  .header__title__text {
    font-size: var(--title);
  }

  .link__redirection {
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--secondary-color);
    width: 180px;
    margin: 10px auto;
    padding: 10px;
    font-size: var(--text);
    font-weight: var(--extra-bold);
    border-radius: 5px;
  }
}
